*~
*.a
*.aux
*.cp
*.cps
*.dot
*.fn
*.ky
*.kys
*.la
*.lo
*.log
*.memres
*.nav
*.o
*.out
*.pdf
*.pg
*.res
*.snm
*.so
*.toc
*.tp
*.trs
*.vrb
*_test
.cproject
.deps
.dirstamp
.libs
.project
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
ylwrap
missing
autom4te.cache/
autotools-files/
build/
doc/doxygen.cfg
doc/api/
doc/manuals/common-macros.texi
src/config.h
src/config.h.in
src/decoders/binutils/arm/arm_parser.cc
src/decoders/binutils/arm/arm_parser.hh
src/decoders/binutils/arm/arm_scanner.cc
src/decoders/binutils/arm/arm_scanner.hh
src/decoders/binutils/arm/location.hh
src/decoders/binutils/arm/position.hh
src/decoders/binutils/arm/stack.hh
src/decoders/binutils/sparc/location.hh
src/decoders/binutils/sparc/position.hh
src/decoders/binutils/sparc/sparc_parser.cc
src/decoders/binutils/sparc/sparc_parser.hh
src/decoders/binutils/sparc/sparc_scanner.cc
src/decoders/binutils/sparc/sparc_scanner.hh
src/decoders/binutils/sparc/stack.hh
src/decoders/binutils/x86-32/location.hh
src/decoders/binutils/x86-32/position.hh
src/decoders/binutils/x86-32/stack.hh
src/decoders/binutils/x86-32/x86_32_parser.cc
src/decoders/binutils/x86-32/x86_32_parser.hh
src/decoders/binutils/x86-32/x86_32_scanner.cc
src/decoders/binutils/x86-32/x86_32_scanner.hh
src/decoders/binutils/x86-64/location.hh
src/decoders/binutils/x86-64/position.hh
src/decoders/binutils/x86-64/stack.hh
src/decoders/binutils/x86-64/x86_64_parser.cc
src/decoders/binutils/x86-64/x86_64_parser.hh
src/decoders/binutils/x86-64/x86_64_scanner.cc
src/decoders/binutils/x86-64/x86_64_scanner.hh
src/io/expressions/ExprLexer.cc
src/io/expressions/ExprParser.cc
src/io/expressions/ExprParser.hh
src/io/expressions/location.hh
src/io/expressions/position.hh
src/io/expressions/stack.hh
src/kernel/expressions/ExprLexer.cc
src/kernel/expressions/ExprParser.cc
src/kernel/expressions/ExprParser.hh
src/kernel/expressions/location.hh
src/kernel/expressions/position.hh
src/kernel/expressions/stack.hh
src/stamp-h1
test/Makefile.inc
test/decoders/check-diff
test/decoders/test-decoder
test/interpreters/concrete/concreteaddress_test
test/interpreters/concrete/concretememory_test
test/interpreters/concrete/concretevalue_test
test/kernel/architecture_test
test/loaders/binary/binaryloader_test
test/slicing/check-diff
test/slicing/slicer
test/tools/cfgrecovery/check-diff
tools/cfgrecovery/cfgrecovery
